<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Purchase Id</th>
      <% if current_user.role? :admin %>
        <th> User </th>
      <% end %>  
      <th>Status</th>
      <th> Last update </th>
      <th>Total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.id %></td>
        <% if current_user.role? :admin %>
          <td><%= purchase.user.email %></td>
        <% end %>
        <td><%= purchase.status %></td>
        <td><%= purchase.updated_at %></td>
        <td><%= purchase.orders.inject(0){|sum,x| sum + x.totalPrice }%></td>
        <td><%= link_to 'Show', purchase_path(purchase) %></td>
        <% if current_user.role? :admin %>
          <td><%= link_to 'Delete', purchase_path(purchase), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', items_path %>